html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
/***    Landing Page     ***/

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: 'Fascinate', cursive;
  text-transform: uppercase
}

.main-para {
  color: #f1f1f1;
  font-size: 2.5rem;
  text-Transform: capitalize
}#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
padding-right: 25px;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300
}
.main {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e1e3eb;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 60px; 
  background-color: white;
}

.container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 

.login{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px rgb(197, 195, 195);
    border: none;
    outline: none;
    background-color: #fff;
}

.email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.name{
    padding-left: 70px;
    font-size: 20px;
}
.second-input{
    padding-top: 20px;
}

.login-form, .signup-form{
    padding-top: 20px;
    color:rgb(1,105,228);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 0px rgb(197, 195, 195);
    background-color: #fff;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.login-form input,.signup-form input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 20px;
    font-weight: 300;
    color: rgb(1,105,228);

}
.login-form input:focus,.signup-form input:focus{
    border: 1px solid rgb(1,105,228);
}

.login-form h1,.signup-form h1{
    font-size: 30px;
    font-weight: 300;
    color: rgb(1,105,228);
    padding-bottom: 20px;

}

.login-form button,.signup-form button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(1,105,228);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 20px;

}
.login-form button:hover{
    background-color: blue;
    color: #fff;
    border: .5px solid rgb(1,105,228) ;
    transition: .5s;


}

.profile{
  padding-top: 20px;
    color:rgb(1,105,228);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 0px rgb(197, 195, 195);
    background-color: #fff;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.profile button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(1,105,228);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 20px;

}

.profile button:hover{
    background-color: blue;
    color: #fff;
    border: .5px solid rgb(1,105,228) ;
    transition: .5s;}



.button{
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: #3e42fa;
    color: white;
    font-size: 25px;
    border: none;
}

.link{
    font-size: 25px;
    font-weight: 400;
}
.incorrectjd {
  color: red;
} 

.incorrectemail {
  color: red;
} 